<style type="text/css">
	.first{
		color: white;
		margin-bottom: auto;
		padding-left: 20%		;
	}
	.part1{
		background-color: #ba0909;
		padding-left: 0;

		
	}
	.part2{
		padding-left: 25%;
		padding-top:10px;
		padding-bottom:10px;
	}
	.menu-lv1{
		display: inline-block;
		border-right: 1px solid;
		color: white;
		padding-left: 20%;

	}
	.menu-lv2{
		display: inline-block; 
		list-style: none;
		padding-right: 15px;
		border-right: 1px solid;
		color: white;

	}
	.menu-lv2:hover{
		background: grey;
		text-decoration: none;
		
	}
	.part2{
		background: grey;

	}
	.header{
		width: 100%;
		border: 1px solid none;
		/*padding:30px;*/
		margin: auto;
		background: white;

	}
	.footer>h2{
		color: white;
		border-color: black;
	}
	.contaner{
		padding: 0 5%;
		width: 60%;
		margin: 0 10%;
	}
	.khoi1{
		width: 67%;
		float: left;
	}
	.khoi2{
		width: 30%;
		float: right;
	}
	.text1>p{
		margin: 0;
		width: 243px;
		margin-bottom: 10px;
	}
	.text1{
		float: left;
		width: 30%;
	}
	.img1{
		float: right;
		width:50%;
		height: 150px;
		background-size: 100%;
		background-repeat: no-repeat;
		
	}
	.img2{
		width:98%;
		margin-bottom: 32px;

	}
	.img3{
		width: 98%;
		width: 177px;
	}
	.clearfix{
		clear: both;
	}
	.khoi2>p{
		text-align: center;
	}
	.colum1{
		width: 30%;
		display: inline-block;
		width: 165px;
		border-right: 1px solid;

	}
	.colum2{
		width: 30%;
		display: inline-block;
		padding-right: 5%;
		border-right: 1px solid;
	}
	.colum3{
		
		display: inline-block;
		width:25%;
		margin-bottom: 18px;
	}
	.text2{
		display: inline-block;
	}
	.text3{
		display: block;
	}
	.text3-col1{
		width: 50%;
		float: left;
	}
	.text3-col2{
		width: 50%;
		float: left;
	}
	.clear1{
		clear: both;
	}
	.text4-col1,.text4-col2{
		width:50%;
		float: left;
	}
	.img4{
		width: 40%;
		float: left;
	}
	
	.text5-text{
		width: 30%;
		float: left;
	}
	.img5{
		width: 60%;
		float: right;
	}
	.text6-text, .text7-text, .text8-text, text9-text, text10-text{
		width: 65%;
		float: right;
	}
	.text6>img,.text7>img , .text8>img, .text9>img,.text10>img {
		width: 30%;
		float: left;
		padding-top: 26px;
	}
	.text11-col1{
		width: 45%;
		float: left;
		
	}
	.text11-col1>img{
		width: 250px;
	}
	.text11-col2{
		width: 45%;
		
		float: right;
	}
	.text11-col2>img{
		width: 250px;
	}
	.khoi2-1{
		background: grey;
	}
	.font{
		background: grey;
	}
    .form{
    	border: 1px none;
    	background: grey;
    }
    .btl{
    	width: 50%;
    	float: left;
    }
    .btr{
    	width: 50%;

    	float: right;
    }
    .footer{
    	background-color: grey;
    	width: 100%;S
    }
    .footer>ul>li{
    	display: inline-block;
    	text-decoration: none;
    	padding-right: 52px ;
    	border-right: 1px solid;
    	color: white;

    }
</style>